Python
pycache/
*.py[cod]
*$py.class
*.egg-info/
.installed.cfg
*.egg

Virtual Environment
venv/
.venv/
ENV/
env/
env.bak/
venv.bak

Data files
*.csv

Excel files
*.xlsx

IDE & System specific
.vscode/
.idea/
*.DS_Store
Thumbs.db